@inject NavigationManager NavigationManager
<MudStack Style="min-width: 100vw; z-index: 999" Row="true" Justify="Justify.SpaceEvenly">
    <div>
        <NavLink @onclick="() => ChangeColorOnCick(0)"
                 href="Home"
                 Match="NavLinkMatch.All">
            <MudText Align="Align.Center"><MudIcon Style="@(PageButtons[0].Status ? SelectedPage : UnSelectedPage)" Icon="@Icons.Material.Filled.Menu" /> <br />Listas </MudText>
        
        </NavLink>
    </div>
    <div>
        <NavLink @onclick="() => ChangeColorOnCick(1)"
                 href="Gastos"
                 Match="NavLinkMatch.All">
            <MudText Align="Align.Center"><MudIcon Style="@(PageButtons[1].Status ? SelectedPage : UnSelectedPage)" Icon="@Icons.Material.Filled.AttachMoney" /> <br />Gastos  </MudText>
        </NavLink>
    </div>

    <div>
        <NavLink @onclick="() => ChangeColorOnCick(2)"
                 href="Comprados"
                 Match="NavLinkMatch.All">
            <MudText Align="Align.Center"><MudIcon Style="@(PageButtons[2].Status ? SelectedPage : UnSelectedPage)" Icon="@Icons.Material.Filled.Check" /> <br /> Comprados </MudText>
        </NavLink>
    </div>

</MudStack>




@code {
    private string PageOne = "Home";
    private string PageTwo = "Gastos";
    private string PageThree = "Comprados";

    private string SelectedPage = "color: blue";
    private string UnSelectedPage = "color: black";

    private class PageButton
    {
        public int Id { get; set; }
        public bool Status { get; set; }
    }

    private List<PageButton> PageButtons = new()
    {
        new PageButton {Id = 0, Status= false },
        new PageButton {Id = 1, Status= false },
        new PageButton {Id = 2, Status= false }
    };

    public async Task ChangeColorOnCick(int pageId)
    {
        PageButtons[pageId].Status = true;
        foreach (var x in PageButtons)
        {
            if (x.Id != pageId)
            {
                x.Status = false;
            }
        }
    }
    public async Task ChangeColorOnInitializedAsync()
    {
        PageButtons[0].Status = true;
    }
    protected async override Task OnInitializedAsync()
    {
        await ChangeColorOnInitializedAsync();
        
    }


}
